/* Style of Excercise 1 */
body {
    font-family: "Times New Roman", Times, serif; /* setting font */
    background-color: #f5f5f5; /* background color */
    margin: 0;
    padding: 0;
}

/* Styling the heading section */
header {
    width: 700px;
    margin: 30px auto 0 auto;
    background-color: #dcdcdc;
    padding: 15px;
    border: 1px solid #ccc;
}


header h1 {
    margin: 0 0 5px 0;
}

/* Styling of navigation links */
nav a {
    font-size: 14px;
    margin-right: 10px;
    color: blue;
    text-decoration: underline;
}

/* Styling the Main section */
main {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


h2 {
    margin-top: 0;
}

h3 {
    margin-top: 20px;
}

/* Styling of Lists */
ul, ol {
    margin-left: 20px;
}

/* Styling of Choice box*/
.choice {
    background-color: #dcdcdc;
    padding: 10px;
    margin: 15px 0;
}

/* Styling of Footer */
footer {
    width: 700px;
    margin: 0 auto 30px auto;
    background-color: #dcdcdc;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}